<p>semaforos-form works!</p>

<div class="flexbox-exterior-container">
    <div class="flexbox-responsive-interior-container-500px">
        <h6 class="text-align-center">Semáforos form</h6>
        <form [formGroup]="controlsGroup">
            <p>Specify the id only in case of select, update or delete</p>
            <mat-form-field>
                <input matInput placeholder="id" [formControl]="id" name="id">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Nombre" [formControl]="nombre" name="nombre">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Estado" [formControl]="estado" name="estado">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Tipo" [formControl]="tipo" name="tipo">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Geometry WKT" [formControl]="geom" name="geom">
            </mat-form-field>
            <br>
            <button mat-button matTooltip="Insert" mat-raised-button [disabled]="!controlsGroup.valid" (click)="insert()">Insert</button>
            <button mat-button matTooltip="Delete" (click)="deleteRow()">Delete</button>
            <button mat-button matTooltip="Update" (click)="update()">Update</button>
            <button mat-button matTooltip="Select" (click)="select()">Select</button>
            <button mat-button matTooltip="Select all" (click)="selectAll()">Select all</button>
            <button mat-button matTooltip="Clear form" (click)="clearForm()">Clear form</button>
            @if (geomInUrl){
            <button mat-button (click)="useGeomInUrl()">Use geom in url</button>
            }
            <br>
            <p>{{serverMessage}}</p>
        </form>
    </div>
    @if (l.length > 0){
        <div class="margin-10px">
            <table>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>estado</th>
                    <th>tipo</th>
                    <th>geom</th>
                </tr>
                @for (s of l; track s.id){
                    <tr (click)="setDataInForm(s)">
                        <td>{{s.id}}</td>
                        <td>{{s.nombre}}</td>
                        <td>{{s.estado}}</td>
                        <td>{{s.tipo}}</td>
                        <td>{{s.geom_wkt}}</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>