<p>manzanas-form works!</p>
<div class="flexbox-exterior-container">
    <div class="flexbox-responsive-interior-container-500px">
        <h6 class="text-align-center">Manzanas form</h6>
        <form [formGroup]="controlsGroup">
            <p>Specify the id only in case of select, update or delete</p>
            <mat-form-field>
                <input matInput placeholder="id" [formControl]="id" name="id">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Nombre" [formControl]="nombre" name="nombre">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Area" [formControl]="area" name="area">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Descripción" [formControl]="descripcion" name="descripcion">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Geometry WKT" [formControl]="geom" name="geom">
            </mat-form-field>
            <br>
            <button mat-button matTooltip="Insert" mat-raised-button [disabled]="!controlsGroup.valid" (click)="insert()">Insert</button>
            <button mat-button matTooltip="Delete" (click)="deleteRow()">Delete</button>
            <button mat-button matTooltip="Update" (click)="update()">Update</button>
            <button mat-button matTooltip="Select" (click)="select()">Select</button>
            <button mat-button matTooltip="Select all" (click)="selectAll()">Select all</button>
            <button mat-button matTooltip="Clear form" (click)="clearForm()">Clear form</button>
            <br>
            <p>{{serverMessage}}</p>
        </form>
    </div>
    @if (l.length > 0){
        <div class="margin-10px">
            <table>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>area</th>
                    <th>descripcion</th>
                    <th>geom</th>
                </tr>
                @for (m of l; track m.id){
                    <tr (click)="setDataInForm(m)">
                        <td>{{m.id}}</td>
                        <td>{{m.nombre}}</td>
                        <td>{{m.area}}</td>
                        <td>{{m.descripcion}}</td>
                        <td>{{m.geom_wkt}}</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>